body {
    width: 100%;
    color: greenyellow;
    background-image: url("../images/background.JPG");
    line-height: 20px;
    font-size: 16px;
}

.containair {
    padding: 10px;
    border: 10px solid blueviolet;
   
} 

#whole {
    float: none;
}

h1 {
    
    text-align: center;
}

.mainpart {
    border: 5px solid wheat;
    margin: 5px;
}

.middle {
    border: 3px solid green;
   
}

.subtit {
    text-align: center;
    text-decoration: underline;
}

.score_counter {
    border: 3px dashed gold;
}
#score-section, #winlos-sec {
    border: 2px solid red;
    height: 70px;
    width: 50%
}
#score-section {
    align-self: center;
}

.crystal-images {
    padding: 10px 2px 10px 2px;
    border: 2px solid red;
}

.crystal {
    padding: 10px 4px 10px 4px;
   
    height: 130px;
    border: greenyellow;
    
}

#my-score {
    min-height: 200px;
    text-align: center;
    border:3px solid blue;
    margin: 5px;
}

#score {
    font-size: 50px;
}


.lost {
    position: absolute;
    width: 350px;
    height:70px;   
    text-align: center;
    z-index: 2;   
    bottom:30px;
    background-color: red;
    color: #F0F0F0;
    font-size: 40px;
    padding:10px;
    border-radius: 3px solid grey ;
   
}

.won {
    position: absolute;
    width: 350px;
    height:70px;   
    text-align: center;
    z-index: 2;   
    bottom:30px;
    background-color: green;
    color: #F0F0F0;
    font-size: 40px;
    padding:10px;
    border-radius: 3px solid grey ;
}
